body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
.para {
    font-weight: 800;
    font-size: 28px;
    color: hsl(0, 0%, 0%);
    
   
    
  }
  
  .para.small-para {
    font-weight: 800;
    font-size: 18px;
    
    
  }
  
 
   #confirm-button {
    font-weight: bold;
    background: green;
    color: white;
    
    
  } 
  
  .button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  
  .text {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 10;
  }

  .text.child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
  }